* {
    box-sizing: border-box;
}

body {
    background-color: rgb(212, 212, 250);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    perspective: 1000px;
}

.card {
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin: 10px;
    height: 100px;
    width: 100px;
    transform-style: preserve-3d;
    transform: rotatey(180deg);
    transition: transform 0.4s linear;
}

.card .front,
.card .back {
    background-color: #fff;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card.show {
    transform: rotateY(0deg);
}
.card .front {
    z-index: 2;
    transform: rotateY(0deg);
}
.card .back {
    transform: rotateY(180deg);
}

.card i {
    font-size: 30px;
}

h1 {
    text-align: center;
}

.fa-air-freshener {
    color: rgb(39, 204, 39);
}

.fa-palette {
    color: rgb(92, 57, 57);
}

.fa-mug-hot {
    color: rgb(15, 15, 24);
}

.fa-book {
    color: rgb(199, 95, 95);
}

.fa-coins {
    color: rgb(235, 235, 6);
}

.fa-apple-alt {
    color: rgb(173, 7, 7);
}

.fa-cog {
    color: rgb(95, 88, 88);
}

.fa-flag {
    color: skyblue;
}